<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Password Reset Sent{% endblock title %}

{% block content %}
    <h1>Password Reset Sent</h1>
    <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

    <a class="btn btn-outline-success" href="{% url 'home' %}">Return to Home</a>
{% endblock content %}