<!-- templates/home.html -->
 {% extends 'base.html' %}

 {% block title %}Home{% endblock title %}

 {% block content %}
 {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
    </form></p>
{% else %}
    <p>You are not logged in</p>
    <p><button type="submit"><a href="{% url 'login' %}">Log In</a></button></p>
    <p><button type="submit"><a href="{% url 'signup'%}">Sign Up</a></button></p>
{% endif %}
{% endblock content %}